.page {
  width: 1200px;
  background-color: lightgrey;
  margin: auto;
}
.pure-g {
  margin: 15px;
}

#title {
  text-align: center;
}

#right {
  float: right;
}
* {
  font-family: Helvetica, sans-serif;
}
